<div data-ng-app="RunsModule" ng-controller="RunsCtrl as ctrl">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form class="form-inline">
                <div class="col-xs-12 controls" >
                    <label title="published" ng-if="pagination.total > 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.last}}/{{pagination.total}}</label>
                    <label title="published" ng-if="pagination.total == 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.total}}</label>
                    <input type="text" ng-model="search" ng-show="pagination.total > 0" class="form-control pull-right" placeholder="Search...">
                </div>
            </form>
            <div class="col-xs-12 controls" style="margin-top:10px;">
                <table class="table table-striped table-hover table-bordered table-responsive" >
                    <thead>
                    <tr class="alert alert-success">

                        <th ng-click="sort('run')">Run
                            <span class="glyphicon sort-icon" ng-show="sortKey=='run'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Seq</th>
                        <th>R1</th>
                        <th>R2</th>
                        <th>I1</th>
                        <th>I2</th>
                        <th>Rapid</th>
                        <th>FC</th>
                        <th>Lanes</th>
                        <th>QC</th>
                        <th>SSheet</th>
                    </tr>
                    </thead>
                    <tbody ng-if="runs.length > 0">
                    <tr dir-paginate="row in runs | orderBy:sortKey:reverse|filter:search|itemsPerPage:pagination.page_size"
                        total-items="pagination.total" current-page="pagination.current">
                        <td>
                            <a class="pull-left" ui-sref="run({rd_label: row.run})" style="text-decoration: none;">
                                <span>{{row.run}}</span>
                            </a>


                        </td>
                        <td>{{ctrl.getMetadata(row.metadata, 'scanner_nickname')}}</td>
                        <td>{{ctrl.getMetadata(row.metadata, 'read1_cycles')}}</td>
                        <td>
                            <span class="fic glyphicon glyphicon-remove" style="margin-left:10px;" ng-if="ctrl.getMetadata(row.metadata, 'read2_cycles')=='X'"></span>
                            <span style="margin-left:10px;" ng-if="ctrl.getMetadata(row.metadata, 'read2_cycles')!='X'">{{ctrl.getMetadata(row.metadata, 'read2_cycles')}}</span>
                        </td>
                        <td>{{ctrl.getMetadata(row.metadata, 'index1_cycles')}}</td>
                        <td>
                            <span class="fic glyphicon glyphicon-remove" style="margin-left:10px;" ng-if="ctrl.getMetadata(row.metadata, 'index2_cycles')=='X'"></span>
                            <span style="margin-left:10px;" ng-if="ctrl.getMetadata(row.metadata, 'index2_cycles')!='X'">{{ctrl.getMetadata(row.metadata, 'index2_cycles')}}</span></td>
                        <td>
                            <span class="fic glyphicon glyphicon-check" style="margin-left:10px;" ng-if="ctrl.getMetadata(row.metadata, 'is_rapid')=='true'"></span>
                            <span class="fic glyphicon glyphicon-remove" style="margin-left:10px;" ng-if="ctrl.getMetadata(row.metadata, 'is_rapid')=='false'"></span>
                        </td>
                        <td>
                            <span  class="fic glyphicon glyphicon-remove" style="margin-left:10px;"  ng-if="row.qc_summary==''"></span>
                            <span  ng-if="row.qc_summary!=''">
                                <table class="table table-striped table-hover table-bordered table-responsive small" >
                                    <tr class="small">
                                        <th class="alert alert-warning">Clusters (RAW)</th>
                                        <td>{{ row.qc_summary.flowcell_report[0].clusters_raw }}</td>
                                    </tr>
                                    <tr class="small">
                                        <th class="alert alert-warning">Clusters (PF)</th>
                                        <td>{{ row.qc_summary.flowcell_report[0].clusters_pf }}</td>
                                    </tr>
                                    <tr class="small">
                                        <th class="alert alert-warning">Yield (MBases)</th>
                                        <td>{{ row.qc_summary.flowcell_report[0].yield_mbases }}</td>
                                    </tr>
                                </table>
                            </span>
                        </td>
                        <td>
                            <span  class="fic glyphicon glyphicon-remove" style="margin-left:10px;"  ng-if="row.qc_summary==''"></span>
                            <div ng-if="row.qc_summary!=''">
                                <button type="button" data-nq-toggle-modal="#showLanesReport" class="btn btn-primary btn-xs"
                                        data-placement="center" data-effect="from-top" data-qs-title="'Lanes Report {{ row.run }}'">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                <div id="showLanesReport" class="clearfix" data-nq-modal="" data-qo-independent="true"
                                     data-qo-content-template="" data-qo-screen-mode="true">
                                    <table class="table table-striped table-hover table-bordered table-responsive">
                                            <tr class="alert alert-success">
                                                <th>Lane</th>
                                                <th>PF&nbsp;Clusters</th>
                                                <th>%&nbsp;of&nbsp;the&nbsp;lane</th>
                                                <th>%&nbsp;Perfect&nbsp;barcode</th>
                                                <th>%&nbsp;One&nbsp;mismatch&nbsp;barcode</th>
                                                <th>Yield&nbsp;(Mbases)</th>
                                                <th>%&nbsp;PF&nbsp;Clusters</th>
                                                <th>%&nbsp;>=&nbsp;Q30&nbsp;bases</th>
                                                <th>Mean&nbsp;Quality&nbsp;Score</th>
                                            </tr>
                                            <tr ng-repeat="a in row.qc_summary.lanes_report">
                                                <td>{{a.lane}}</td>
                                                <td>{{a.clusters_pf}}</td>
                                                <td>{{a.of_thelane}}</td>
                                                <td>{{a.perfect_barcode}}</td>
                                                <td>{{a.mismatch_barcode}}</td>
                                                <td>{{a.yield_mbases}}</td>
                                                <td>{{a.clusters_pf_perc}}</td>
                                                <td>{{a.q30_bases}}</td>
                                                <td>{{a.quality_score}}</td>

                                            </tr>
                                        </table>
                                 </div>
                            </div>
                        </td>
                        <td>
                            <a class="pull-left btn btn-primary btn-xs" href="{{row.report_path}}"
                               style="text-decoration: none;" target="_blank" ng-if="row.report_path!=''">
                                 <span class="glyphicon glyphicon-link"></span>
                            </a>
                            <span class="fic glyphicon glyphicon-remove" style="margin-left:10px;"
                                  ng-if="row.report_path==''"></span>

                        </td>
                        <td>
                            <div ng-repeat="f in row.files">
                                <div ng-show="f.startsWith('SampleSheet')" style="margin-bottom:10px;">
                                    <button type="button" data-nq-toggle-modal="#showAttachment"
                                        class="pull-left btn btn-primary btn-xs"
                                        data-placement="right" data-effect="from-right" data-qs-title="'Show Samplesheet'"
                                        ng-click="ctrl.show_samplesheet(row.run, row.path, f)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>&nbsp;
                                    <span class="small">{{f.replace('SampleSheet-','')}}</span>
                                </div>

                                <div id="showAttachment" class="clearfix" data-nq-modal=""
                                     data-qo-independent="true"
                                     data-qo-screen-mode="true" data-qo-content-template="">
                                    <ng-include src="'app/shared/attachment/show_attachment.modal.html'"></ng-include>
                                </div>
                            </div>


                            <span ng-if="_.without(row.files, ['RunInfo.xml', runParameters.xml]).length == 0"
                                  class="fic glyphicon glyphicon-remove" style="margin-left:10px;"></span>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true"
                    class="pull-right"
                    on-page-change="ctrl.changePage(newPageNumber, oldPageNumber)"
                    style="margin-top: -25px">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
