<div style="padding-top:10px;">
    <div>
        <div data-nq-tabset="" data-tabset-model="demoTabset">
            <div data-nq-tab="" data-heading="Lab Products">
                <ng-include src="'app/components/admin/lab_products/lab_products.view.html'"></ng-include>
                <div ng-bind-html="tabParagraph">
                </div>
            </div>
            <div data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'" data-nq-tab="" data-heading="Create">
                <ng-include src="'app/components/admin/lab_products/lab_products.add_new.view.html'"></ng-include>
                <div ng-bind-html="tabParagraph">
                </div>
            </div>
            <div data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'" data-nq-tab="" data-heading="Import from CSV">
                <ng-include src="'app/components/admin/lab_products/lab_products.import.view.html'"></ng-include>
                <div ng-bind-html="tabParagraph">
                </div>
            </div>
            <!--<div data-nq-tab="" data-heading="Loading">-->
                <!--<ng-include src="'app/components/admin/lab_products/lab_products.load.view.html'"></ng-include>-->
                <!--<div ng-bind-html="tabParagraph">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div data-nq-tab="" data-heading="Unloading">-->
                <!--<ng-include src="'app/components/admin/lab_products/lab_products.unload.view.html'"></ng-include>-->
                <!--<div ng-bind-html="tabParagraph">-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>