<button type="button" class="btn btn-default btn-xs" aria-hidden="true"
        data-ng-if="ctrl.check_transitions('activate', row.transitions)">
    <span class="glyphicon glyphicon-folder-open"
          data-qo-theme="info" data-qo-placement="right"
          data-nq-tooltip="" data-qs-title="Activate"
          data-ng-click="ctrl.change_review_state('activate', row.id)">
    </span>
</button>
<button type="button" class="btn btn-danger btn-xs" aria-hidden="true"
        data-ng-if="ctrl.check_transitions('deactivate', row.transitions)">
    <span class="glyphicon glyphicon-folder-close"
          data-qo-theme="info" data-qo-placement="right"
          data-nq-tooltip="" data-qs-title="Deactivate"
          data-ng-click="ctrl.change_review_state('deactivate', row.id)">
    </span>
</button>
<button type="button" class="btn btn-success btn-xs" aria-hidden="true"
        data-ng-if="ctrl.check_transitions('load', row.transitions)">
    <span class="glyphicon glyphicon-cloud-upload"
          data-qo-theme="info" data-qo-placement="right"
          data-nq-tooltip="" data-qs-title="Load"
          data-ng-click="ctrl.change_review_state('load', row.id)">
    </span>
</button>
<button type="button" class="btn btn-danger btn-xs" aria-hidden="true"
        data-ng-if="ctrl.check_transitions('unload', row.transitions)">
    <span class="glyphicon glyphicon-cloud-download"
          data-qo-theme="info" data-qo-placement="right"
          data-nq-tooltip="" data-qs-title="Unload"
          data-ng-click="ctrl.change_review_state('unload', row.id)">
    </span>
</button>
