<div class="panel panel-primary" data-ng-controller="BatchBookCtrl as ctrl">
    <div class="panel-body">
        <form class="form-inline">
            <div class="col-sm-12 controls" >
                <ng-include src="'app/components/batches/batchbook.btns.html'" class="pull-left"></ng-include>
                <label title="published" ng-if="pagination.total > 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.last}}/{{pagination.total}}</label>
                <label title="published" ng-if="pagination.total == 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.total}}</label>
                <input type="text" ng-model="search" data-ng-show="pagination.total > 0" class="form-control pull-right" placeholder="Search...">
            </div>
        </form>
        <div class="col-sm-12 controls" style="margin-top:10px;">
            <table class="table table-striped table-hover table-bordered table-responsive" >
                <thead>
                <tr class="alert alert-success">
                    <th>
                        <div style="padding-left:10px;">
                                <input type="checkbox"  value=""
                                       data-ng-checked="checked_list.length == analysis_requests.length  && checked_list.length > 0"
                                       data-ng-click="ctrl.toggle_all()">
                        </div>
                    </th>
                    <th ng-click="sort('sample_id')">SampleID
                        <span class="glyphicon sort-icon" ng-show="sortKey=='sample_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('client_sample_id')">ClientSID
                        <span class="glyphicon sort-icon" ng-show="sortKey=='client_sample_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('sample_type')">Type
                        <span class="glyphicon sort-icon" ng-show="sortKey=='sample_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th data-ng-repeat="a in analyses">
                        {{a.keyword}}
                        <input type="checkbox"  value="{{a.id}}" class="pull-left" style="margin-right:10px"
                               data-ng-checked="workflow_params.analyses.indexOf(a.id) > -1"
                               data-ng-click="ctrl.toggle_analyses(a.id)">
                    </th>
                    <th>Runs</th>
                    <th ng-click="sort('review_state')">State
                        <span class="glyphicon sort-icon" ng-show="sortKey=='review_state'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <!--<th><span class="fic glyphicon glyphicon-wrench" ></span></th>-->
                    <th><span class="fic glyphicon glyphicon-blackboard" ></span></th>
                </tr>
                </thead>
                <tbody ng-if="analysis_requests.length > 0">
                <tr dir-paginate="row in analysis_requests | orderBy:sortKey:reverse|filter:search|itemsPerPage:pagination.page_size"
                    total-items="pagination.total" current-page="pagination.current">
                    <td>
                        <div style="padding-left:10px;">
                            <input type="checkbox"  value="{{row.id}}"
                                   data-ng-checked="checked_list.indexOf(row.id) > -1"
                                   data-ng-click="ctrl.toggle(row.id)">
                        </div>
                    </td>

                    <td><a class="pull-left" ui-sref="analysis_request({analysis_request_id: row.id})" style="text-decoration: none;"><span>{{row.sample_id}}</span></a></td>
                    <td>{{row.client_sample_id}}</td>
                    <td>{{row.sample_type}}</td>
                    <td data-ng-repeat="a in row.analyses"  ng-class="{'alert alert-warning': a.result.length == 0,'alert alert-success': a.result == '1', 'alert alert-danger': a.result == '0' }">
                        <div>
                            <div data-ng-if="a.review_state !== 'sample_received'">{{ctrl.format_result(a.result)}}</div>
                            <div data-ng-if="a.review_state === 'sample_received'">
                                <select class="input-sm" data-ng-model="analysis_results[row.id][a.id]">
                                    <option data-ng-selected="{{key}}"
                                            ng-repeat="(key,value) in ctrl.results"
                                            data-option-value="key" data-option-label="value" value="{{key}}">
                                        <span>{{value}}</span>
                                    </option>
                                </select>
                            </div>
                            <div style="margin-top:5px;">
                                <ng-include src="'app/shared/review_state/workflow_transitions.btns.mini.html'"></ng-include>
                            </div>
                        </div>
                        <div data-ng-if="a.analyst!=''">
                            <label class="btn btn-xs active" data-ng-class="{'btn-primary': a.analyst == currentUser.userid, 'btn-danger': a.analyst != currentUser.userid}" style="margin-top:5px;width:100%">
                                <span class="glyphicon glyphicon-user pull-left"></span>&nbsp;<span class="pull-left" style="margin-left:5px;">{{a.analyst}}</span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr ng-repeat="r in row.runs">
                                <td>
                                    <a class="pull-left" ui-sref="run({rd_label: r})" style="text-decoration: none;">
                                        <span class="small">{{r}}</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>{{ctrl.format_review_state(row.review_state)}}</td>
                    <!--<td><ng-include src="'app/shared/review_state/review_state.btns.mini.html'"></ng-include></td>-->
                    <td>
                        <ngcart-addtocart id="{{  row.id }}" name="{{ row.id }}"
                                           price="1" quantity="1" mini="true"
                                           quantity-max="1" data="row">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </ngcart-addtocart>
                    </td>
                </tr>
                </tbody>
            </table>

            <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true"
                    class="pull-right"
                    on-page-change="ctrl.changePage(newPageNumber, oldPageNumber)"
                    style="margin-top: -25px">
            </dir-pagination-controls>

        </div>
        <div class="col-sm-12 controls" style="margin-top:10px;" ng-if="analysis_requests.length > 0">
            <!--<ng-include src="'app/shared/review_state/review_state.btns.html'"></ng-include>-->
            <ng-include src="'app/shared/review_state/workflow_transitions.btns.html'"></ng-include>
            <ng-include src="'app/shared/review_state/deliveries_assign.btns.html'"></ng-include>
            <ng-include src="'app/shared/blackboard/toggle.btns.html'" class="pull-right"></ng-include>
        </div>
    </div>
</div>