<div data-ng-app="DeliveriesModule" ng-controller="DeliveriesCtrl as ctrl">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form class="form-inline">
                <div class="col-sm-12 controls" >
                    <div class="btn-group  btn-group-reset" ng-model="buttons.radio" ng-init="buttons.radio = 'draft'" data-nq-radio-group="">
                        <label title="Draft" class="btn btn-primary"><input type="radio" value="draft" data-ng-click="getDeliveries('draft')">Draft</label>
                        <label title="Ready" class="btn btn-primary"><input type="radio" value="ready" data-ng-click="getDeliveries('ready')">Ready</label>
                        <label title="In Process" class="btn btn-primary"><input type="radio" value="processing" data-ng-click="getDeliveries('processing')">In Progress</label>
                        <label title="Dispatched" class="btn btn-primary"><input type="radio" value="dispatched" data-ng-click="getDeliveries('dispatched')">Dispatched</label>
                        <label title="Delivered" class="btn btn-primary"><input type="radio" value="delivered" data-ng-click="getDeliveries('delivered')">Delivered</label>
                        <label title="Deleted" class="btn btn-danger"><input type="radio" value="deleted" data-ng-click="getDeliveries('deleted')">Deleted</label>
                    </div>
                    <label title="published" ng-if="pagination.total > 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.last}}/{{pagination.total}}</label>
                    <label title="published" ng-if="pagination.total == 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.total}}</label>
                    <input type="text" ng-model="search" ng-show="pagination.total > 0" class="form-control pull-right" placeholder="Search...">
                </div>
            </form>
            <div class="col-sm-12 controls" style="margin-top:10px;">
                <table class="table table-striped table-hover table-bordered table-responsive" >
                    <thead>
                    <tr class="alert alert-success">
                        <th>
                            <div style="padding-left:10px;">
                                <input type="checkbox"  value=""
                                       data-ng-checked="checked_list.length == batches.length  && checked_list.length > 0"
                                       data-ng-click="ctrl.toggle_all()">
                        </div>
                        </th>
                        <th ng-click="sort('id')">DeliveryID
                            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('title')">Title
                            <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('description')">Description
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Samples</th>
                        <th>Recipients
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Mode
                            <span class="glyphicon sort-icon" ng-show="sortKey=='descriptiona'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Merge
                            <span class="glyphicon sort-icon" ng-show="sortKey=='descriptiona'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('creation_date')">Creation
                            <span class="glyphicon sort-icon" ng-show="sortKey=='creation_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('modification_date')">Updated
                            <span class="glyphicon sort-icon" ng-show="sortKey=='modification_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('review_state')">State
                            <span class="glyphicon sort-icon" ng-show="sortKey=='review_state'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="deliveries.length > 0">
                    <tr dir-paginate="row in deliveries | orderBy:sortKey:reverse|filter:search|itemsPerPage:pagination.page_size"
                        total-items="pagination.total" current-page="pagination.current">
                        <td>
                            <div style="padding-left:10px;">
                                <input type="checkbox"  value="{{row.id}}"
                                       data-ng-checked="checked_list.indexOf(row.id) > -1"
                                       data-ng-click="ctrl.toggle(row.id)">
                            </div>
                        </td>
                        <td>
                            <a class="pull-left" ui-sref="delivery({delivery_id: row.id})" style="text-decoration: none;">
                                <span>{{row.id}}</span>
                            </a>

                        </td>
                        <td>
                            <a class="pull-left" ui-sref="delivery({delivery_id: row.id})" style="text-decoration: none;">
                                <span>{{row.title}}</span>
                            </a>

                        </td>
                        <td><a class="pull-left" ui-sref="delivery({delivery_id: row.id})" style="text-decoration: none;"><span>{{row.description}}</span></a></td>
                        <td>{{ctrl.count_samples(row.remarks)}}</td>
                        <td>{{ctrl.decode_location(row.location,'recipients')['title']}}</td>
                        <td>{{ctrl.decode_location(row.location,'mode')}}</td>
                        <td>{{ctrl.decode_location(row.location,'merge')}}</td>
                        <td>{{ctrl.format_date(row.creation_date)}}</td>
                        <td>{{ctrl.format_date(row.modification_date)}}</td>
                        <td>{{ctrl.format_review_state(row.review_state)}}</td>

                    </tr>
                    </tbody>
                </table>

                <dir-pagination-controls
                        max-size="10"
                        direction-links="true"
                        boundary-links="true"
                        class="pull-right"
                        on-page-change="ctrl.changePage(newPageNumber, oldPageNumber)"
                        style="margin-top: -25px">
                </dir-pagination-controls>

            </div>
            <div class="col-sm-12 controls" style="margin-top:10px;" ng-if="deliveries.length > 0">
                <ng-include src="'app/components/deliveries/deliveries.review_state.btns.html'"></ng-include>
            </div>
        </div>
    </div>
</div>