<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Penelope</title>
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="./assets/bower_components/bootstrap/dist/css/themes/spacelab/bootstrap.min.css">-->
    <!--<link rel="stylesheet/less" href="./assets/bower_components/bootstrap/dist/css/themes/spacelab/variables.less">-->
    <!--<link rel="stylesheet/less" href="./assets/bower_components/bootstrap/dist/css/themes/spacelab/bootwatch.less">-->

    <link rel="stylesheet" href="assets/bower_components/quantumui/dist/css/addon/effect-light.min.css">
    <link rel="stylesheet" href="assets/bower_components/quantumui/dist/css/quantumui.min.css">

    <link rel="stylesheet" href="assets/bower_components/ng-table/dist/ng-table.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/crs4.css">
    <link rel="stylesheet" href="assets/bower_components/dangle/css/dangle.css">
    <link rel="stylesheet" href="assets/css/radial_progress/radialProgress.css">

    <!--&lt;!&ndash; DevExtreme themes &ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="assets/bower_components/devextreme/css/dx.common.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="assets/bower_components/devextreme/css/dx.light.css" />-->

    <script src="./assets/bower_components/underscore/underscore.js"></script>
    <script src="./assets/bower_components/angular/angular.min.js"></script>
    <script src="./assets/bower_components/angular-nojq/angular-nojq.min.js"></script>
    <script src="./assets/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="./assets/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="./assets/bower_components/moment/moment.js"></script>
    <script src="./assets/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="./assets/bower_components/spin.js/spin.js"></script>
    <script src="./assets/bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="./assets/bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="./assets/bower_components/angular-bootstrap-file-field/dist/angular-bootstrap-file-field.min.js"></script>
    <script src="./assets/js/pagination/dirPagination.js"></script>
    <script src="./assets/js/ng-csv/ng-csv.min.js"></script>
    <script src="./assets/js/papaparse/papaparse.min.js"></script>

    <script src="./assets/bower_components/ngCart/dist/ngCart.min.js"></script>
    <script src="./assets/bower_components/quantumui/dist/js/quantumui.min.js"></script>
    <script src="./assets/bower_components/quantumui/config/icons.js"></script>
    <script src="./assets/bower_components/d3/d3.min.js"></script>
    <script src="./assets/bower_components/dangle/dist/dangle.min.js"></script>
    <script src="./assets/js/radial_progress/radialProgress.js"></script>

    <!--<script src="./assets/bower_components/devextreme/js/dx.all.js"></script>-->
    <script src="./assets/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="./assets/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="https://cdn.rawgit.com/johnymontana/neovis.js/master/dist/neovis.js"></script>

    <script src="./app/init.module.js"></script>
    <script src="./app/shared/config/config.module.js"></script>
    <script src="./app/shared/api_rest/bika_api_rest.module.js"></script>
    <script src="./app/shared/api_rest/irods_api_rest.module.js"></script>
    <script src="./app/shared/utility/utility.module.js"></script>
    <script src="./app/shared/login/login.module.js"></script>
    <script src="./app/components/home/home.module.js"></script>
    <script src="./app/components/arimport/arimport.module.js"></script>
    <script src="./app/components/clients/clients.module.js"></script>
    <script src="./app/components/batches/batches.module.js"></script>
    <script src="./app/components/analysis_requests/analysis_requests.module.js"></script>
    <script src="./app/shared/attachment/samplesheet.module.js"></script>
    <script src="./app/components/worksheets/worksheets.module.js"></script>
    <script src="./app/components/deliveries/deliveries.module.js"></script>
    <script src="./app/components/blackboard/blackboard.module.js"></script>
    <script src="./app/components/request_form/request_form.module.js"></script>
    <script src="./app/components/admin/cost_centers/cost_centers.module.js"></script>
    <script src="./app/components/admin/purchase_orders/purchase_orders.module.js"></script>
    <script src="./app/components/admin/lab_products/lab_products.module.js"></script>
    <script src="./app/components/admin/runs/runs.module.js"></script>
    <script src="./app/components/admin/targets/targets.module.js"></script>
    <script src="./app/components/dashboard/dashboard.module.js"></script>
    <script src="./app/components/browser/browser.module.js"></script>
    <script src="./app/app.module.js"></script>
    <script src="./app/app.route.js"></script>

</head>
<body ng-app="MainApp" data-ng-controller="MainCtrl as main">
<div id="main" class="container bg-700">
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top" style="margin:0;"
             role="navigation" ng-show="$state.current.name!=='login'">
            <div class="container-fluid">
                <div class="pull-right" style="">
                    <ul class="nav navbar-nav pull-left" >
                        <li>
                    </ul>
                </div>
                <div class="navbar-header-right">
                    <button type="button" class="navbar-toggle" data-nq-collapse="" data-target-id=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <div  class="input-inline col-sm-6">
                                <a>&nbsp;&nbsp;&nbsp;</a>
                            </div>

                        </li>
                        <li data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'"
                            ng-class="getClass('batches')">
                            <a ui-sref="batches">Batches</a>
                        </li>
                        <li data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'"
                            ng-class="getClass('analysis_requests')"><a ui-sref="analysis_requests">Analysis Request</a></li>
                        <li data-ng-if="currentUser.role!='LabClerk'" ng-class="getClass('worksheets')">
                            <a ui-sref="worksheets">Worksheets</a>
                        </li>

                        <li data-ng-if="currentUser.is_clerk=='True'" ng-class="getClass('lab_products')">
                            <a ui-sref="lab_products">Lab Products</a>
                        </li>
                        <li data-ng-if="currentUser.role!='LabClerk'">
                            <a role="button" tabindex="1" data-nq-dropdown="" data-qo-placement="bottom-right">
                                Samplesheets
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" tabindex="-1" role="menu">
                                <li role="presentation"  ng-class="getClass('samplesheet_upload')">
                                    <a role="menuitem" tabindex="-1" ui-sref="samplesheet_upload">Upload</a>
                                </li>
                                <li role="presentation"  ng-class="getClass('samplesheet_replace')">
                                    <a role="menuitem" tabindex="-1" ui-sref="samplesheet_replace">Replace</a>
                                </li>
                                <!--<li role="presentation"  ng-class="getClass('samplesheet_delete')"-->
                                    <!--data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'">-->
                                    <!--<a role="menuitem" tabindex="-1" ui-sref="samplesheet_delete">Delete</a>-->
                                <!--</li>-->
                            </ul>
                        </li>
                        <li data-ng-if="currentUser.role!='LabClerk'" ng-class="getClass('runs')">
                            <a ui-sref="runs">Runs</a>
                        </li>
                        <li data-ng-if="currentUser.role!='LabClerk'" >
                            <a href="{{qc_report}}" onclick="window.open(this.href);return false">Quality Check</a>
                        </li>
                        <li data-ng-if="currentUser.role=='Site Administrator'">
                            <a role="button" tabindex="1" data-nq-dropdown="" data-qo-placement="bottom-right">
                                Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" tabindex="-1" role="menu">
                                <li  data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'"
                                     ng-class="getClass('arimport')">
                                    <a ui-sref="arimport">AR Import</a>
                                </li>
                                <li data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'"
                                    role="presentation"  ng-class="getClass('clients')">
                                    <a ui-sref="clients">Clients</a>
                                </li>
                                <li data-ng-if="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'"
                                    role="presentation"  ng-class="getClass('targets')">
                                    <a ui-sref="targets">Targets</a>
                                </li>
                                <li role="presentation"  ng-class="getClass('cost_centers')">
                                    <a role="menuitem" tabindex="-1" ui-sref="cost_centers">Cost Centers</a>
                                </li>
                                <li role="presentation"  ng-class="getClass('lab_products')">
                                    <a role="menuitem" tabindex="-1" ui-sref="lab_products">Lab Products</a>
                                </li>
                                <li role="presentation"  ng-class="getClass('purchase_orders')">
                                    <a role="menuitem" tabindex="-1" ui-sref="purchase_orders">Purchase Orders</a>
                                </li>
                                <li role="presentation"  ng-class="getClass('deliveries')">
                                    <a role="menuitem" tabindex="-1" ui-sref="deliveries">Deliveries</a>
                                </li>
                                <!--<li role="presentation"  ng-class="getClass('request_form')">-->
                                    <!--<a role="menuitem" tabindex="-1" ui-sref="request_form">Request Form</a>-->
                                <!--</li>-->
                                <li role="presentation"  ng-class="getClass('dashboard')">
                                    <a role="menuitem" tabindex="-1" ui-sref="dashboard">Dashboard</a>
                                </li>
                                <!--<li role="presentation"  ng-class="getClass('browser')">-->
                                    <!--<a role="menuitem" tabindex="-1" ui-sref="browser">Browser</a>-->
                                <!--</li>-->

                            </ul>
                        </li>


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ui-sref="blackboard" ng-class="getClass('blackboard')" style="padding: 10px 10px 0 0;">
                                <ngcart-summary></ngcart-summary>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div ui-view></div>
</div>
<ng-include src="'app/shared/footer/footer.view.html'"></ng-include>

<div class="navbar navbar-inverse navbar-fixed-bottom" style="margin:0;"
     role="navigation" ng-show="$state.current.name!=='login' && $state.current.name!=='dashboard'">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" ng-click="logout()">
                        <span class="fic glyphicon glyphicon-log-out" style="margin-left:0px;"></span>
                        <span style="margin-left:10px;">Logout</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">
                                <span style="margin-left:10px;">
                                    Hi, {{currentUser.fullname}}
                                </span>
                        <span class="fic glyphicon glyphicon-user" style="margin-left:10px;"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>