
            <div class="col-sm-12 controls">
                <div class="col-sm-8">&nbsp;</div>
                <div class="col-sm-3">
                <input type="text" ng-model="search"  class="form-control pull-right"
                           placeholder="Search...">
                </div>
                <div class="col-sm-1">
                <label title="published" class="btn btn-success  pull-right"
                           style="margin-left:10px;">{{purchase_orders.length}}</label>
                </div>

            </div>
            <div class="col-sm-12 controls" style="margin-top:10px;">
                <table class="table table-striped table-hover table-bordered table-responsive">
                    <thead>
                    <tr class="alert alert-success">
                        <th ng-click="sort('id')">ID
                            <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('order_number')">Order&nbsp;Number
                            <span class="glyphicon sort-icon" ng-show="sortKey=='order_number'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('rights')">CIG
                            <span class="glyphicon sort-icon" ng-show="sortKey=='rights'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('title')">Acronym
                            <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('description')">Description
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>

                        <th ng-click="sort('remarks')">Reagents
                            <span class="glyphicon sort-icon" ng-show="sortKey=='remarks'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('location')">Supplier
                            <span class="glyphicon sort-icon" ng-show="sortKey=='location'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('order_date')">Order&nbsp;Date
                            <span class="glyphicon sort-icon" ng-show="sortKey=='order_date'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('expiration_date')">Closing&nbsp;Date
                            <span class="glyphicon sort-icon" ng-show="sortKey=='expiration_date'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('contributors')">Amount
                             <span class="glyphicon sort-icon" ng-show="sortKey=='contributors'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('review_state')">State
                            <span class="glyphicon sort-icon" ng-show="sortKey=='review_state'"
                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="purchase_orders.length > 0">
                    <tr data-ng-repeat="row in purchase_orders | orderBy:sortKey:reverse|filter:search">
                        <td>
                            <a class="pull-left" ui-sref="purchase_order({purchaseorder_id: row.id})" style="text-decoration: none;">
                                <span>{{row.id}}</span>
                            </a>

                        </td>
                        <td><a class="pull-left" ui-sref="purchase_order({purchaseorder_id: row.id})" style="text-decoration: none;">
                                <span>{{row.order_number}}</span>
                            </a>
                        </td>
                        <td>{{row.rights}}</td>
                        <td>{{row.title}}</td>
                        <td>{{row.description}}</td>
                        <td>
                             <table class="table table-striped table-hover table-bordered table-responsive small" >
                                    <tr ng-repeat="lane in ctrl.get_lab_products(row.remarks)" class="small">
                                        <th class="alert alert-warning">{{lane.title}} </th>
                                        <td>{{ lane.quantity }}</td>
                                    </tr>
                             </table>
                        </td>
                        <td>{{ctrl.get_supplier(row.location)}}</td>
                        <td>{{ctrl.format_date(row.order_date)}}</td>
                        <td>{{ctrl.format_date(row.expiration_date)}}</td>
                        <td>{{row.contributors}}</td>
                        <td>{{ctrl.format_review_state(row.review_state)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
