<div class="panel-body" style="min-height:200px;">
    <div class="col-sm-12 controls">
        <div class="col-sm-2" controls>
            <div class="btn-group  btn-group-reset" ng-model="chart.clients.period"
                 ng-init="chart.clients.period = 'yearly'" data-nq-radio-group="">
                <label title="Left Button" class="btn btn-primary"><input type="radio" value="yearly"
                                                                          data-ng-click="getTimeline('clients')">Yearly</label>
                <label title="Middle Button" class="btn btn-primary"><input type="radio" value="monthly"
                                                                            data-ng-click="getTimeline('clients')">Monthly</label>
            </div>
        </div>
        <div class="col-sm-3 controls">
            <div class="input-group" ng-show="counter.clients > 0">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-stats"></i></span>
                <select data-nq-select="" data-ng-required="true" name="chart_type"
                        data-qo-placeholder="Chart .."
                        data-ng-model="chart.clients.type"
                        ng-options="t for t in chart_types">

                </select>
            </div>
        </div>
        <div class="col-sm-2 controls">
            <div class="input-group" ng-show="counter.clients > 0">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" ng-model="chart.clients.date_from" class="form-control"
                       value="chart.clients.date_from"
                       data-nq-datepicker="" qo-format="YYYY/MM/DD"
                       qo-mode='date' qo-model-type="string"
                       placeholder="datepicker" name="order_date">
            </div>
        </div>
        <div class="col-sm-2 controls">
            <div class="input-group" ng-show="counter.clients > 0">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" ng-model="chart.clients.date_to" class="form-control"
                       value="chart.clients.date_to"
                       data-nq-datepicker="" data-qo-format="YYYY/MM/DD"
                       qo-mode='date' data-qo-model-Type="string"
                       placeholder="datepicker" name="order_date">
            </div>
        </div>
        <div class="col-sm-1 controls">
            <button type="button" data-nq-dropdown="" class="btn btn-default btn-sm pull-left" ng-show="counter.clients > 0">
                <i class="fic glyphicon glyphicon-download-alt"></i>
            </button>
            <ul class="dropdown-menu" tabindex="-1" role="menu">
                <li tabindex="-1" role="presentation">
                    <a href="" role="menuitem"
                       ng-csv="chart.clients.csv_chart"
                       csv-header="chart.clients.labels" filename="chart.clients.{{chart.clients.period}}.csv">
                        <i class="glyphicon glyphicon-stats"></i>&nbsp;Chart Data</a>
                </li>
                 <li tabindex="-1" role="presentation">
                    <a href="" role="menuitem"
                       ng-csv="chart.clients.csv_query"
                       csv-label="true"  filename="query.clients.{{chart.clients.period}}.csv">
                        <i class="glyphicon glyphicon-cd"></i>&nbsp;Query Data</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 controls">
            <label title="clients" ng-if="counter.clients >= 0" class="btn btn-success  pull-right"
                   style="margin-left:10px;">{{counter.clients}}</label>
            <label title="clients" ng-if="counter.clients < 0" class="btn btn-success  pull-right"
                   style="margin-left:10px;">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </label>
        </div>
    </div>
    <div class="col-sm-12 controls" style="margin-top:20px;">
        <div style="margin-top:30px"
             data-ng-if="counter.clients < 0"
             spinner-on="counter.clients < 0"
             us-spinner="{
                                      radius: 30,
                                      lines:13,
                                      length: 35,
                                      width: 8,
                                      scale: 1,
                                      speed: 1.5,
                                      opacity:0.1,
                                      corners: 1,
                                      color:'#000',
                                      position: 'relative',
                                      trail: 60,
                                      shadow: true,
                                    }">

        </div>
        <canvas class="chart chart-bar" ng-show="chart.clients.type==='Bar'"
                chart-data="chart.clients.data" chart-labels="chart.clients.labels" data-ng-if="counter.clients > 0"
                chart-options="chart.clients.options">
        </canvas>
        <canvas class="chart chart-line" ng-show="chart.clients.type==='Line'"
                chart-data="chart.clients.data" chart-labels="chart.clients.labels" data-ng-if="counter.clients > 0"
                chart-options="chart.clients.options">
        </canvas>
        <canvas class="chart chart-pie" ng-show="chart.clients.type==='Pie'"
                chart-data="chart.clients.data" chart-labels="chart.clients.labels" data-ng-if="counter.clients > 0"
                chart-options="chart.clients.options">
        </canvas>
        <canvas class="chart chart-horizontal-bar" ng-show="chart.clients.type==='Horizontal Bar'"
                chart-data="chart.clients.data" chart-labels="chart.clients.labels" data-ng-if="counter.clients > 0"
                chart-options="chart.clients.options">
        </canvas>
        <canvas class="chart chart-polar-area" ng-show="chart.clients.type==='Polar Area'"
                chart-data="chart.clients.data" chart-labels="chart.clients.labels" data-ng-if="counter.clients > 0"
                chart-options="chart.clients.options">
        </canvas>
        <canvas class="chart chart-doughnut" ng-show="chart.clients.type==='Doughnut'"
                chart-data="chart.clients.data" chart-labels="chart.clients.labels" data-ng-if="counter.clients > 0"
                chart-options="chart.clients.options">
        </canvas>
    </div>
    <div class="col-sm-12 controls" style="margin-top:20px;" data-ng-if="counter.clients >= 0">
        <div class="input-inline col-sm-4">&nbsp;</div>
        <div class="input-inline col-sm-2">

        </div>
        <div class="input-inline col-sm-2">

        </div>
        <div class="input-inline col-sm-4">&nbsp;</div>
    </div>
</div>
