<button data-ng-show="currentUser.role=='Site Administrator' || currentUser.role=='LabManager'"
        type="button" class="btn btn-warning" aria-hidden="true"
        data-ng-disabled="checked_list.length == 0"
        data-nq-collapse="" data-target-id="#collapseReassignForm" data-collapsed="true">
    <span class="glyphicon glyphicon-edit"></span>&nbsp;Reassign
</button>
<div id="collapseReassignForm"  class="panel panel-default" style="margin-top:10px;">
    <div class="panel-heading">
        <div class="panel-title">Reassign to other analyst</div>
    </div>
    <div class="panel-body">
        <div class="col-sm-12 controls">

            <div class="input-inline col-sm-6" style="margin-top:10px">
                <select data-nq-select="" data-qo-placeholder="Analyst..."
                        data-ng-options="u.fullname for u in analysts"
                        data-ng-model="reassign_params.analyst">
                </select>
            </div>
        </div>
         <div class="col-sm-12 controls">
            <div class="col-sm-12 controls pull-right" style="margin-top:10px;">
                <button type="button" class="btn btn-primary" aria-hidden="true"
                        data-ng-disabled="checked_list.length == 0"
                        data-ng-click="ctrl.change_review_state('reassign')">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Assign
                </button>
            </div>
        </div>
    </div>
</div>