<div data-ng-app="WorksheetsModule" ng-controller="WorksheetsCtrl as ctrl">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form class="form-inline">
                <div class="col-sm-12 controls" >
                    <div class="btn-group  btn-group-reset" ng-model="buttons.radio" ng-init="buttons.radio = 'open'" data-nq-radio-group="">
                                <label title="Left Button" class="btn btn-primary"><input type="radio" value="open" data-ng-click="getWorksheets('open')">Open</label>
                                <label title="Middle Button" class="btn btn-primary"><input type="radio" value="closed" data-ng-click="getWorksheets('closed')">Closed</label>
                                <label title="Right Button" class="btn btn-primary"><input type="radio" value="cancelled" data-ng-click="getWorksheets('cancelled')">Cancelled</label>
                    </div>
                    <label title="published" ng-if="pagination.total > 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.last}}/{{pagination.total}}</label>
                    <label title="published" ng-if="pagination.total == 0" class="btn btn-success  pull-right" style="margin-left:10px;">{{pagination.total}}</label>
                    <input type="text" ng-model="search" ng-show="pagination.total > 0" class="form-control pull-right" placeholder="Search...">
                </div>
            </form>
            <div class="col-sm-12 controls" style="margin-top:10px;">
                <table class="table table-striped table-hover table-bordered table-responsive" >
                    <thead>
                    <tr class="alert alert-success">
                        <th>
                            <div style="padding-left:10px;">
                                <input type="checkbox"  value=""
                                       data-ng-checked="checked_list.length == worksheets.length && checked_list.length > 0"
                                       data-ng-click="ctrl.toggle_all()">
                        </div>
                        </th>
                        <th ng-click="sort('id')">WorksheetID
                            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('title')">Title
                            <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('description')">Description
                            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>
                            Analysis
                        </th>
                        <th ng-click="sort('analyst')">Analyst
                            <span class="glyphicon sort-icon" ng-show="sortKey=='client'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('date')">Date
                            <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th ng-click="sort('review_state')">State
                            <span class="glyphicon sort-icon" ng-show="sortKey=='review_state'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th><span class="fic glyphicon glyphicon-wrench" ></span></th>
                        <!--<th><span class="fic glyphicon glyphicon-blackboard" ></span></th>-->
                    </tr>
                    </thead>
                    <tbody ng-if="worksheets.length > 0">
                    <tr dir-paginate="row in worksheets | orderBy:sortKey:reverse | filter:search | itemsPerPage:pagination.page_size"
                        total-items="pagination.total" current-page="pagination.current">
                        <td>
                            <div style="padding-left:10px;">
                                <input type="checkbox"  value="{{row.id}}"
                                       data-ng-checked="checked_list.indexOf(row.id) > -1"
                                       data-ng-click="ctrl.toggle(row.id)">
                            </div>
                        </td>
                        <td>
                            <a class="pull-left" ui-sref="worksheet({worksheet_id: row.id})" style="text-decoration: none;">
                                <span>{{row.id}}</span>
                            </a>

                        </td>
                        <td>
                            <a class="pull-left" ui-sref="worksheet({worksheet_id: row.id})"  style="text-decoration: none;">
                                <span>{{row.title}}</span>
                            </a>

                        </td>
                        <td> <a class="pull-left" ui-sref="worksheet({worksheet_id: row.id})"  style="text-decoration: none;"><span>{{row.description}}</span></a></td>
                        <td>{{ctrl.count_analyses(row.remarks)}}</td>
                        <td>
                            <label class="btn btn-xs active"
                                   data-ng-class="{'btn-primary': row.analyst == currentUser.userid, 'btn-danger': row.analyst != currentUser.userid}"
                                   style=width:100%">
                                <span class="glyphicon glyphicon-user pull-left"></span>&nbsp;<span class="pull-left" style="margin-left:5px;">{{row.analyst}}</span>
                            </label>
                        </td>
                        <td>{{ctrl.format_date(row.creation_date)}}</td>
                        <td>{{ctrl.format_review_state(row.review_state)}}</td>
                        <!--<td><ng-include src="'app/shared/review_state/review_state.btns.mini.html'"></ng-include></td>-->
                        <td><ng-include src="'app/shared/review_state/worksheets.btns.mini.html'"></ng-include></td>
                        <!--<td><ng-include src="'app/shared/blackboard/toggle.btns.mini.html'"></ng-include></td>-->
                    </tr>
                    </tbody>
                </table>

                <dir-pagination-controls
                        max-size="10"
                        direction-links="true"
                        boundary-links="true"
                        class="pull-right"
                        on-page-change="ctrl.changePage(newPageNumber, oldPageNumber)"
                        style="margin-top: -25px">
                </dir-pagination-controls>

            </div>
            <div class="col-sm-12 controls" style="margin-top:10px;" ng-if="worksheets.length > 0">
                <ng-include src="'app/shared/review_state/worksheets.btns.html'"></ng-include>
                <ng-include src="'app/components/worksheets/worksheets.btns.html'"></ng-include>
            </div>
        </div>
    </div>
</div>



