<button type="button" class="btn btn-default btn-xs" aria-hidden="true"
        data-ng-if="ctrl.check_transitions_cost_centers('activate', row.transitions)">
    <span class="glyphicon glyphicon-folder-open"
          data-qo-theme="info" data-qo-placement="right"
          data-nq-tooltip="" data-qs-title="Activate"
          data-ng-click="ctrl.change_review_state_cost_centers('activate', row.id)">
    </span>
</button>
<button type="button" class="btn btn-danger btn-xs" aria-hidden="true"
        data-ng-if="ctrl.check_transitions_cost_centers('deactivate', row.transitions)">
    <span class="glyphicon glyphicon-folder-close"
          data-qo-theme="info" data-qo-placement="right"
          data-nq-tooltip="" data-qs-title="Deactivate"
          data-ng-click="ctrl.change_review_state_cost_centers('deactivate', row.id)">
    </span>
</button>
<button type="button" class="btn btn-success btn-xs" aria-hidden="true"
        data-ng-if="ctrl.check_transitions_cost_centers('dispatch', row.transitions)">
    <span class="glyphicon glyphicon-euro"
          data-qo-theme="info" data-qo-placement="right"
          data-nq-tooltip="" data-qs-title="Dispatch"
          data-ng-click="ctrl.change_review_state_cost_centers('dispatch', row.id)">
    </span>
</button>