<button type="button" class="btn btn-default" aria-hidden="true"
        ng-if="ctrl.check_transitions_batches('close')"
        data-ng-disabled="checked_list.batches.length == 0"
        data-ng-click="ctrl.change_review_state_batches('close')">
    <span class="glyphicon glyphicon-folder-close">
    </span>&nbsp;Close
</button>
<button type="button" class="btn btn-default" aria-hidden="true"
        data-ng-if="ctrl.check_transitions_batches('open')"
        data-ng-disabled="checked_list.batches.length == 0"
        data-ng-click="ctrl.change_review_state_batches('open')">
    <span class="glyphicon glyphicon-folder-open">
    </span>&nbsp;Open
</button>
<button type="button" class="btn btn-warning" aria-hidden="true"
        data-ng-if="ctrl.check_transitions_batches('reinstate')"
        data-ng-disabled="checked_list.batches.length == 0"
        data-ng-click="ctrl.change_review_state_batches('reinstate')">
    <span class="glyphicon glyphicon-retweet">
    </span>&nbsp;Reinstate
</button>
<button type="button" class="btn btn-danger" aria-hidden="true"
        data-ng-if="ctrl.check_transitions_batches('cancel')"
        data-ng-disabled="checked_list.batches.length == 0"
        data-ng-click="ctrl.change_review_state_batches('cancel')">
    <span class="glyphicon glyphicon-trash">
    </span>&nbsp;Cancel
</button>